#footer
	{
		color: #ccc;
		color: rgba(255,255,255,0.45);
	}

		#footer a
		{
			color: #ddd;
			color: rgba(255,255,255,0.65);
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		#footer a:hover
		{
			color: rgba(255,255,255,1.0);
		}
			
			#footer .copyright li
			{
				display: inline-block;
			}

				#footer .copyright li:before
				{
					display: inline;
					content: '\2022';
					opacity: 0.5;
					padding: 0 0.75em 0 0.75em;
				}
			
				#footer .copyright li:first-child:before
				{
					display: none;
				}