.clock {
    display: flex;
    margin: 10px;
    border-radius: 10px;
    background: #0d1621;
    color: white;
    align-items: center;
    overflow: hidden;
    padding: 30px 15px;
    justify-content: center;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .hour {
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
  }
