body {
    background-image: url(/src/assets/The-Crew-2-BMW-supercars-in-game-screen-shot-video-games-1957149-wallhere.com.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}